

@media (max-width: 768px) {
  #GridThreeRowColumn{
    .modal{
      height: 445px;
      width: 600px;
      .frame{
        width: 500px;
      }
    }
  }
}

@media (max-width: 576px) {
  #GridThreeRowColumn{
    .modal{
      padding: unset;
      height: 445px;
      max-width: 400px;
      .frame{
       max-width:  350px;
      }
    }
  }
}
@media (max-width: 375px) {
  #GridThreeRowColumn{
    .modal{
      padding: unset;
      height: 380px;
      max-width: 300px;
      .frame{
       max-width:  250px;
      }
    }
  }
}
