.event-slider {
  .slick-slide > div {
    margin: 0 20px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  .slick-prev {
    left: 0px !important;
    z-index: 9999;
    top: 60%;
  }
  .slick-next {
    right: 0px !important;
    top: 60%;
  }

  .slick-next:before {
    content: "" !important;
    background: url(../../../public/assets/icons/right-arrow.svg) no-repeat;

    background-size: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slick-prev:before {
    content: "" !important;
    background: url(../../../public/assets/icons/left-arrow.svg) no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slick-next:hover:before,
  .slick-next:focus:before {
    opacity: 1 !important;
  }
}

.upcoming-event {
  .event {
    margin-top: 52px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
 border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 37px 11px rgba(0, 0, 0, 0.03);
box-shadow: 0px 0px 35px 0px rgba(167, 167, 167, 0.25);
    .event-name {
      display: flex;
      gap: 23px;
      align-items: center;
      padding: 30px 30px;
      height: 150px;
    }
    .calender-icon {
      img {
        width: 74px;
        height: 74px;
      }
    }

    .date {
      display: flex;

      padding: 30px 0;
      padding-left: 17%;
    }
    h3 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    h4 {
      color: $gray_1;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 24px;
    }
    p {
      color: #3b3a5d;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .time-container {
      display: flex;
      gap: 30px;
    }

    .time,
    .location {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}

@media (max-width: 1536px) {
  .upcoming-event {
    .event {
      margin-top: 52px;
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      background: #fff;
      // box-shadow: 0px 4px 37px 11px rgba(0, 0, 0, 0.03);

      .event-name {
        display: flex;
        gap: 23px;
        align-items: center;
        padding: 30px 30px;
      }
      .calender-icon {
        img {
          width: 74px;
          height: 74px;
        }
      }

    
      h3 {
        color: $gray_1;

        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      h4 {
        color: $gray_1;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
      }

      .time-container {
        display: flex;
        gap: 30px;
      }

      .time,
      .location {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      
    }
  }
}
@media (max-width: 1280px) {
  .upcoming-event {
    .event {
      margin-top: 52px;
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      background: #fff;
      // box-shadow: 0px 4px 37px 11px rgba(0, 0, 0, 0.03);

      .event-name {
        display: flex;
        gap: 23px;
        align-items: center;
        padding: 30px 30px;
      }
      .calender-icon {
        img {
          width: 74px;
          height: 74px;
        }
      }

    
      h3 {
        color: $gray_1;

        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      h4 {
        color: $gray_1;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
      }

      .time-container {
        display: flex;
        gap: 30px;
      }

      .time,
      .location {
        display: flex;
        align-items: center;
        gap: 12px;
      }
       .date {
      display: flex;

      padding: 30px 0;
      padding-left: 10%;
    }
    }
  }
}
@media (max-width: 1024px) {
  .upcoming-event {
    .slick-next:before {
      content: "" !important;
      background: url(../../../public/assets/icons/right-arrow.svg) no-repeat;

      background-size: 100%;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .slick-prev:before {
      content: "" !important;
      background: url(../../../public/assets/icons/left-arrow.svg) no-repeat;
      background-size: 100%;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .event {
      margin-top: 52px;
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      background: #fff;
      // box-shadow: 0px 4px 37px 11px rgba(0, 0, 0, 0.03);

      .event-name {
        display: flex;

        gap: 23px;
        align-items: center;
        padding: 30px 30px;
        height: 100px;
      }
      .calender-icon {
        flex-shrink: 0;
        img {
          max-width: 50px;
          width: 100%;
          height: 50px;
        }
      }

      h3 {
        color: $gray_1;

        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      h4 {
        color: $gray_1;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
      }
      p {
        font-size: 18px;
      }
      .time-container {
        display: flex;
        gap: 20px;
      }

      .time,
      .location {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}
@media (max-width: 768px) {
  .upcoming-event {
    .slick-next:before {
      content: "" !important;
      background: url(../../../public/assets/icons/right-arrow.svg) no-repeat;

      background-size: 100%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .slick-prev:before {
      content: "" !important;
      background: url(../../../public/assets/icons/left-arrow.svg) no-repeat;
      background-size: 100%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .event {
      margin-top: 52px;
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      background: #fff;
      // box-shadow: 0px 4px 37px 11px rgba(0, 0, 0, 0.03);

      .event-name {
        display: flex;
        gap: 23px;
        align-items: center;
        padding: 30px 30px;
      }
      .calender-icon {
        img {
          width: 74px;
          height: 74px;
        }
      }

    
      h3 {
        color: $gray_1;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      h4 {
        color: $gray_1;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
      }
      p {
        font-size: 14px;
      }
      .time-container {
        display: flex;
        gap: 20px;
      }

      .time,
      .location {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .event-slider {
    .slick-slide > div {
      margin: 0 20px;
    }
    .slick-list {
      margin: 0 0px;
    }
    .slick-prev {
      left: 10px !important;
      z-index: 9999;
      top: 60%;
    }
    .slick-next {
      right: 10px !important;
      top: 60%;
    }

    .slick-next:before {
      content: "" !important;
      background: url(../../../public/assets/icons/right-arrow.svg) no-repeat;

      background-size: 100%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }
    .slick-prev:before {
      content: "" !important;
      background: url(../../../public/assets/icons/left-arrow.svg) no-repeat;
      background-size: 100%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1 !important;
    }
  }
  .upcoming-event {
    .event {
      margin-top: 52px;
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      background: #fff;
      // box-shadow: 0px 4px 37px 11px rgba(0, 0, 0, 0.03);

      .event-name {
        display: flex;
        gap: 23px;
        align-items: center;
        padding: 30px 30px;
      }
      .calender-icon {
        img {
          width: 74px;
          height: 74px;
        }
      }

      .date {
        display: flex;
        justify-content: center;
        padding: 30px 0px;
      }
      h3 {
        color: $gray_1;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      h4 {
        color: $gray_1;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
      }
      p {
        font-size: 14px;
      }
      .time-container {
        display: flex;
        gap: 20px;
      }

      .time,
      .location {
        display: flex;
        align-items: center;
        gap: 12px;
      }
      
       .date {
      img{

        width: 20px;
      }
    }
    }
  }
}
@media (max-width: 400px) {
  .containar {
    padding: 0 20px;
  }
  .event-slider {
    .slick-slide > div {
      margin: 0 0px;
    }
    .slick-list {
      margin: 0 0px;
    }
    .slick-prev {
      left: 0px !important;
      z-index: 9999;
      top: 60%;
    }
    .slick-next {
      right: 0px !important;
      top: 60%;
    }

    .slick-next:before {
      content: "" !important;
      background: url(../../../public/assets/icons/right-arrow.svg) no-repeat;

      background-size: 100%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }
    .slick-prev:before {
      content: "" !important;
      background: url(../../../public/assets/icons/left-arrow.svg) no-repeat;
      background-size: 100%;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1 !important;
    }
  }
  .upcoming-event {
    .event {
      margin-top: 52px;
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      background: #fff;
      // box-shadow: 0px 4px 37px 11px rgba(0, 0, 0, 0.03);

      .event-name {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
      }
      .calender-icon {
        img {
          width: 30px;
          height: 30px;
        }
      }

      .date {
        display: flex;
        justify-content: center;
        padding: 30px 0px;
      }
      h3 {
        color: $gray_1;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      h4 {
        color: $gray_1;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
      }
      p {
        font-size: 12px;
      }
      .time-container {
        display: flex;
        gap: 10px;
      }

      .time,
      .location {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}
