.product_category {
  .category-card {
    position: relative;
    height: 400px;
    // margin: 0 auto;
    .card-img {
      z-index: 9;
      position: absolute;

      // margin: 0 auto;
      border-radius: 21px;
      object-fit: cover;
      object-position: center;
      height: 300px;
    }
    .title {
      display: flex;
      //   justify-content: space-between;
      position: absolute;
      //   display: inline-flex;
      height: 80px;
      padding: 42px 59px 43px 39px;
      align-items: center;
      margin-left: 10px;
      width: 92%;
      border-radius: 31px 34px 30px 30px;
      background: #fff;
      //   margin-top: -20px;
      bottom: 0;
      z-index: 9999;
      box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

      //   font

      color: #555;
      font-family: Arial;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .product-details {
    border-radius: 11px;
    border: 2px solid #1a4985;
    background: #fff;
    // height: 540px;
    padding: 30px;
    overflow: hidden;
    // opacity: 0;
    transition: all 0.3s ease;
    table {
      border-collapse: separate;
      border-spacing: 40px;
      width: 100%;
      .ck-table-resized {
        width: 100% !important;
      }

      td {
        color: #595566;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 128%; /* 23.04px */
        border-bottom: 1px solid #595566;
        width: 250px !important;

        padding: 15px 0px !important;
      }
    }
    h1 {
      color: #1a4985;
      font-family: Arial;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 18%; /* 7.2px */
      text-transform: capitalize;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    p {
      color: #595566;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 128%; /* 23.04px */
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1536px) {
  .product_category {
    .category-card {
      height: 360px;

      .title {
        height: 80px;
        padding: 20px;
        width: 91%;
        border-radius: 31px 34px 30px 30px;
        background: #fff;
        //   margin-top: -20px;
        bottom: 0;
        z-index: 9999;
        box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

        //   font

        font-size: 20px;
      }
    }
    .product-details {
      border-radius: 11px;
      border: 2px solid #1a4985;
      background: #fff;
      // height: 540px;
      padding-top: 60px;
      padding-left: 60px;
      padding-bottom: 40px;
      overflow: hidden;
      // opacity: 0;
      transition: all 0.3s ease;

      h1 {
        color: #1a4985;
        font-family: Arial;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 18%; /* 7.2px */
        text-transform: capitalize;
        margin-bottom: 60px;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
        // justify-content: space-between;
      }
      .item {
        max-width: 50%;
        width: 100%;
        height: 58px;
        flex-shrink: 0;
        border-bottom: 1px solid;
      }
    }
  }
}
@media (max-width: 1400px) {
  .product_category {
    .category-card {
      height: 360px;
      .card-img{
        height: 300px;
      }
      .title {
        height: 100px;
        width: 92%;
        border-radius: 31px 34px 30px 30px;
        background: #fff;
        //   margin-top: -20px;
        bottom: 0;
        z-index: 9999;
        box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

        //   font

        font-size: 20px;
      }
    }
    .product-details {
      border-radius: 11px;
      border: 2px solid #1a4985;
      background: #fff;
      // height: 540px;
      padding-top: 40px;
      padding-left: 40px;
      padding-bottom: 30px;
      overflow: hidden;
      // opacity: 0;
      transition: all 0.3s ease;

      h1 {
        color: #1a4985;
        font-family: Arial;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 18%; /* 7.2px */
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
        // justify-content: space-between;
      }
      .item {
        max-width: 50%;
        width: 100%;
        height: 58px;
        flex-shrink: 0;
        border-bottom: 1px solid;
      }
    }
  }
}
@media (max-width: 1280px) {
  .product_category {
    .category-card {
      height: 320px;

      .card-img {
        z-index: 9;
        position: absolute;
        width: 100%;

        border-radius: 21px;
        object-fit: contain;
        object-position: center;
        height: 280px;
      }

      .title {
        height: 100px;
        width: 92%;
        border-radius: 31px 34px 30px 30px;
        background: #fff;
        //   margin-top: -20px;
        bottom: 0;
        z-index: 9999;
        box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

        //   font

        font-size: 20px;
      }
      .icon {
        width: 28px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .product_category {
    .category-card {
      height: 300px;

      .title {
        height: 80px;
        width: 92%;
        border-radius: 31px 34px 30px 30px;
        background: #fff;
        //   margin-top: -20px;
        bottom: 0;
        z-index: 9999;
        box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

        //   font

        font-size: 20px;
      }
      .icon {
        width: 28px;
      }
    }
  }
}
@media (max-width: 768px) {
  .product_category {
    .category-card {
      height: 400px;
      margin-bottom: 50px;
    
.card-img{
   object-fit: cover;
    height: 400px;
    
}
      .title {
        height: 100px;
        width: 95%;
        border-radius: 31px 34px 30px 30px;
        background: #fff;
        //   margin-top: -20px;
        bottom: 0;
        z-index: 9999;
        box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

        //   font

        font-size: 24px;
      }
      .icon {
        width: 28px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .product_category {
    .category-card {
      height: 400px;
      margin-bottom: 20px;
   
.card-img{
   object-fit: cover;
    height: 400px;
    
}
      .title {
        height: 100px;
        width: 92%;
        border-radius: 31px 34px 30px 30px;
        padding: 20px;
        background: #fff;
        //   margin-top: -20px;
        bottom: 0;
        z-index: 9999;
        box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

        //   font

        font-size: 20px;
      }
      .icon {
        width: 28px;
      }
    }

    .product-details {
      border-radius: 11px;
      border: 2px solid #1a4985;
      background: #fff;
      // height: 540px;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      overflow: hidden;
      // opacity: 0;
      transition: all 0.3s ease;
      table {
        border-collapse: separate;
        border-spacing: 10px;
        width: 100%;
        .ck-table-resized {
          width: 100% !important;
        }

        td {
          width: 100%;
          color: #595566;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 128%; /* 23.04px */
          border-bottom: 1px solid #595566;
          width: 250px !important;

          padding: 15px 0px !important;
        }
      }
      h1 {
        color: #1a4985;
        font-family: Arial;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 18%; /* 7.2px */
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
        // justify-content: space-between;
      }
      .item {
        max-width: 100%;
        width: 100%;
        height: 50px;
        flex-shrink: 0;
        border-bottom: 1px solid;
      }
    }
  }
}
@media (max-width: 400.98px) {
  .product_category {
    .category-card {
      height: 300px;
      margin-bottom: 0px;
   
.card-img{
   object-fit: contain;
    height: 300px;
    
}
      .title {
        height: 100px;
        width: 92%;
        border-radius: 31px 34px 30px 30px;
        padding: 20px;
        background: #fff;
        //   margin-top: -20px;
        bottom: 0;
        z-index: 9999;
        box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

        //   font

        font-size: 20px;
      }
      .icon {
        width: 28px;
      }
    }

    .product-details {
      border-radius: 11px;
      border: 2px solid #1a4985;
      background: #fff;
      // height: 540px;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      overflow: hidden;
      // opacity: 0;
      transition: all 0.3s ease;
      table {
        border-collapse: separate;
        border-spacing: 10px;
        width: 100%;
        .ck-table-resized {
          width: 100% !important;
        }

        td {
          width: 100%;
          color: #595566;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 128%; /* 23.04px */
          border-bottom: 1px solid #595566;
          width: 250px !important;

          padding: 15px 0px !important;
        }
      }
      h1 {
        color: #1a4985;
        font-family: Arial;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 18%; /* 7.2px */
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 20px;
        // justify-content: space-between;
      }
      .item {
        max-width: 100%;
        width: 100%;
        height: 50px;
        flex-shrink: 0;
        border-bottom: 1px solid;
      }
    }
  }
}
