.carousel .slick-slide > div {
  margin: unset !important;
}
.carousel .slick-list {
  margin: unset !important;
}
.carousel .slick-dots {
  bottom: 28px !important;
}
.carousel .slick-dots li {
  margin: 0 10px !important;
}
.carousel .slick-dots li.slick-active button:before {
  color: unset !important;
  background: white !important;
}
.carousel .slick-dots li button:before {
  opacity: unset !important;
  color: unset !important;
  background: rgba(255, 255, 255, 0.58) !important;
  border-radius: 100% !important;
}
.carousel .carousel-top {
  height: 80vh;
}
.carousel .slider-caption {
  max-width: 952px;
  color: white;
  height: 321px;
  position: absolute;
  border-radius: 23px;
  top: 20%;
  left: 5%;
}
.carousel .slider-caption h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64.39px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 54px;
  padding-top: 40px;
  margin-bottom: 49px;
}
.carousel .slider-caption p {
  color: white;
  font-size: 26px;
  text-align: left;
  padding: 0 54px;
  margin-bottom: 49px;
}
.carousel .slider-caption .button-primary {
  font-size: 18px;
}

@media (max-width: 1536px) {
  .carousel .slick-slide > div {
    margin: unset !important;
  }
  .carousel .slick-list {
    margin: unset !important;
  }
  .carousel .slider-caption {
    max-width: 752px;
    height: 300px;
  }
  .carousel .slider-caption h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1280px) {
  .carousel .slick-slide > div {
    margin: unset !important;
  }
  .carousel .slick-list {
    margin: unset !important;
  }
  .carousel .slick-dots {
    bottom: 32px !important;
  }
  .carousel .slider-caption {
    left: 5rem;
  }
}
@media (max-width: 1024px) {
  .carousel .slick-slide > div {
    margin: unset !important;
  }
  .carousel .slick-list {
    margin: unset !important;
  }
  .carousel .carousel-top {
    height: 540px;
  }
  .carousel .slider-caption {
    max-width: 600px;
    height: 250px;
    left: 2rem;
    bottom: 15rem;
  }
  .carousel .slider-caption h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .carousel .slider-caption .btnClass {
    border-radius: 10px;
  }
}
@media (max-width: 768px) {
  .carousel .slick-slide > div {
    margin: unset !important;
  }
  .carousel .slick-list {
    margin: unset !important;
  }
  .carousel .carousel-top {
    height: 400px;
  }
  .carousel .slider-caption {
    left: 0rem;
    bottom: 9rem;
    max-width: 500px;
    height: 220px;
  }
  .carousel .slider-caption h2 {
    font-size: 24px;
    line-height: 34px;
    max-width: 600px;
    margin-bottom: 20px;
  }
  .carousel .slider-caption p {
    color: white;
    font-size: 16px;
    line-height: unset;
    text-align: left;
    padding: 0 52px;
    margin-bottom: unset;
  }
  .carousel .slider-caption .btnClass {
    font-size: 1rem;
    padding: -1 2rem;
    margin-left: 46px;
  }
}
@media (max-width: 576px) {
  .carousel .slick-slide > div {
    margin: unset !important;
  }
  .carousel .slick-list {
    margin: unset !important;
  }
  .carousel .carousel-top {
    height: 220px;
  }
  .carousel .carousel-top video {
    height: auto;
  }
  .carousel .slick-dots {
    bottom: 10px !important;
  }
  .carousel .slick-dots li button {
    margin: 0 10px !important;
  }
  .carousel .slick-dots li.slick-active button:before {
    color: unset !important;
    background: white !important;
  }
  .carousel .slick-dots li button::before {
    height: 10px !important;
    width: 10px !important;
  }
  .carousel .slick-dots li button:before {
    opacity: unset !important;
    color: unset !important;
    background: rgba(255, 255, 255, 0.58) !important;
    border-radius: 100% !important;
  }
  .carousel .slider-caption {
    top: 10%;
    bottom: 1.5rem;
    left: 1rem;
    width: 300px;
    height: 125px;
  }
  .carousel .slider-caption h2 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
    padding-top: 12px;
  }
  .carousel .slider-caption p {
    color: white;
    font-size: 12px;
    line-height: unset;
    text-align: left;
    padding: 0 20px;
    margin-bottom: unset;
  }
  .carousel .slider-caption .btnClass {
    font-size: 0.75rem;
    margin-left: 20px !important;
    border-radius: 10px;
    margin-left: unset;
    padding: unset;
  }
  .carousel .slider-caption .button-primary {
    padding: 5px 5px;
    max-width: 120px;
  }
}
@media (max-width: 375px) {
  .carousel .slick-slide > div {
    margin: unset !important;
  }
  .carousel .slick-list {
    margin: unset !important;
  }
  .carousel .carousel-top {
    height: 180px;
  }
  .carousel .carousel-top video {
    height: auto;
  }
  .carousel .slick-dots {
    bottom: 10px !important;
  }
  .carousel .slick-dots li button {
    margin: 0 10px !important;
  }
  .carousel .slick-dots li.slick-active button:before {
    color: unset !important;
    background: white !important;
  }
  .carousel .slick-dots li button::before {
    height: 10px !important;
    width: 10px !important;
  }
  .carousel .slick-dots li button:before {
    opacity: unset !important;
    color: unset !important;
    background: rgba(255, 255, 255, 0.58) !important;
    border-radius: 100% !important;
  }
  .carousel .slider-caption {
    left: 1rem;
    width: 300px;
    height: 125px;
  }
  .carousel .slider-caption h2 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
    padding-top: 12px;
  }
  .carousel .slider-caption p {
    color: white;
    font-size: 12px;
    line-height: unset;
    text-align: left;
    padding: 0 20px;
    margin-bottom: unset;
  }
  .carousel .slider-caption .btnClass {
    font-size: 0.75rem;
    margin-left: 20px !important;
    border-radius: 10px;
    margin-left: unset;
    padding: unset;
  }
  .carousel .slider-caption .button-primary {
    padding: 0;
    max-width: 100px;
    font-size: 8px;
  }
}/*# sourceMappingURL=Carousel.css.map */