#MapImage{

}

@media (max-width: 1540px) {
  #MapImage{
    iframe{
      // height: 300px;
      max-width: 98% !important;
      max-height: 400px;
    }
  }
}
@media (max-width: 768px) {
  #MapImage{
    .iframe{
      height: 300px;
    }
  }
}

@media (max-width: 576px) {
  #MapImage{
      iframe{
          height: 300px;
      }
  }
}