#ProductDetails{
  p{
    font-size: 17px;
  }
}

@media (max-width: 1536px) {
  #ProductDetails{
    p{
      font-size: 17px;
    }
  }
}
@media (max-width: 1280px) {

}
@media (max-width: 1024px) {
  #ProductDetails{
    p{
      font-size: 15px;
      line-height: 25.4px;
    }
  }
}
@media (max-width: 768px) {
  #ProductDetails {
    p{
      font-size: 12px;
      line-height: 25.4px;
    }
  }
}
@media (max-width: 576px) {
  #ProductDetails {

  }
}