.meet-our-customer {
  color: white;
}
.meet-our-customer .video-caption {
  padding-bottom: 20px;
}
.meet-our-customer h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.meet-our-customer p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: white;
}
.meet-our-customer .meet-our-customer-header {
  margin-bottom: 50px;
}
.meet-our-customer .bg-image {
  position: relative;
  height: 520px;
  border-radius: 10px;
}
.meet-our-customer .react-player > div {
  width: 680px !important;
  height: 450px !important;
}

@media (max-width: 1536px) {
  .meet-our-customer {
    overflow: hidden;
  }
  .meet-our-customer h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
  .meet-our-customer p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }
  .meet-our-customer .react-player > div {
    width: 580px !important;
    height: 450px !important;
    overflow: hidden;
  }
}
@media (max-width: 1280px) {
  .meet-our-customer .react-player > div {
    width: 510px !important;
    height: 450px !important;
  }
  .meet-our-customer .video-caption {
    padding-bottom: 20px;
  }
  .meet-our-customer h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .meet-our-customer p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 1024px) {
  .meet-our-customer .bg-image {
    position: relative;
    height: 420px;
    border-radius: 10px;
  }
  .meet-our-customer .react-player > div {
    width: 380px !important;
    height: 350px !important;
  }
  .meet-our-customer .video-caption {
    padding-bottom: 20px;
    width: 90%;
  }
  .meet-our-customer h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .meet-our-customer p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .meet-our-customer .our-customer-slide-container {
    padding: 0 20px;
  }
  .meet-our-customer .bg-image {
    position: relative;
    height: 420px;
    border-radius: 10px;
  }
  .meet-our-customer .react-player > div {
    width: 605px !important;
    height: 350px !important;
  }
  .meet-our-customer .video-caption {
    padding-bottom: 20px;
  }
  .meet-our-customer h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .meet-our-customer p {
    font-size: 16px;
    line-height: 26px;
    width: 90%;
  }
}
@media (max-width: 576px) {
  .meet-our-customer .meet-our-customer-header {
    margin-bottom: 25px;
  }
  .meet-our-customer .our-customer-slide-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .meet-our-customer .bg-image {
    position: relative;
    height: 350px;
    border-radius: 10px;
  }
  .meet-our-customer .react-player > div {
    width: 100% !important;
    height: 300px !important;
  }
  .meet-our-customer .video-caption {
    padding-bottom: 20px;
    width: 90%;
  }
  .meet-our-customer h3 {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
  }
  .meet-our-customer p {
    font-size: 12px;
    line-height: 22px;
    width: 90%;
  }
}
@media (max-width: 375px) {
  .meet-our-customer .our-customer-slide-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .meet-our-customer .bg-image {
    position: relative;
    height: 320px;
    border-radius: 10px;
  }
  .meet-our-customer .react-player > div {
    width: 100% !important;
    height: 260px !important;
  }
  .meet-our-customer .video-caption {
    padding-bottom: 20px;
  }
  .meet-our-customer h3 {
    font-size: 16px;
    line-height: 24px;
    width: 220px;
  }
  .meet-our-customer p {
    font-size: 14px;
    line-height: 22px;
  }
}/*# sourceMappingURL=MeetOurCustomer.css.map */